<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Fluke-Flac.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
				<string>audio/x-flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Fluke.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kichenko.fluke</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fluke</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
    <key>IsDroppable</key>
    <true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright not specified</string>
</dict>
</plist>
